
header {
    margin-top: 30px;
    text-align: center;
  }
  select {
    font-size: 1em;
    padding: 7px;
    margin: 0 13%;
    font-size: large;
    background-color: #DCDCDC;
    color: #008080;
  } 
 option{
  background-color: #DCDCDC;
  top: 50%;
  z-index: 99;
 }
 
footer{
 text-align: center;
  overflow: hidden;
  padding: 30px;
  color: #008080;
}

main {
  text-align: center;
  margin-top: 30px;
}
#img-temp,#mastachsec{
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
  align-self: auto;
}

#unit2, #unit1 {
  width: 20%;
  margin: 5%;

}

#page1, #page2{
display: inline-block;
margin-bottom: 20px;
width: 80px;
height: 30px;
font-size: large;
font-weight: 600;
color: #008080;
}

#stor{
  margin-bottom: 40px;
  display: flex;
display: flex;
width: 380px;
height: 30px;
font-size: large;
font-weight: 600;
float: right;
font-size: x-large;
padding: 5px;
margin-right: 10%;
color: #008080;
}

.form{
  display: inline-block;
}