header {
    margin-top: 50px;
    text-align: center;
  }
  select {
    font-size: 1em;
    padding: 2px;
    margin: 0px;
  } 
 
  #unit1 {
    width: 20%;
    margin: 0;
    float: left;
    overflow: hidden;
    height: 20%;
    padding: 2%;
}
#unit2 {
  width: 20%;
  margin: 0;
  float: left;
  overflow: hidden;
  height: 20%;
  padding: 2%;
}
footer{
  float: left;
  overflow: hidden;
}
